<div>
    <h2>
        <span jhiTranslate="socialappApp.twitterKeyword.home.title">Twitter Keywords</span>
        <button class="btn btn-primary float-right create-twitter-keyword" [routerLink]="['/', { outlets: { popup: ['twitter-keyword-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="socialappApp.twitterKeyword.home.createLabel">
            Create new Twitter Keyword
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'socialappApp.twitterKeyword.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="twitterKeywords">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="socialappApp.twitterKeyword.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="keyword"><span jhiTranslate="socialappApp.twitterKeyword.keyword">Keyword</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="competitors"><span jhiTranslate="socialappApp.twitterKeyword.competitors">Competitors</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="page"><span jhiTranslate="socialappApp.twitterKeyword.page">Page</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="created"><span jhiTranslate="socialappApp.twitterKeyword.created_at">Created</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let twitterKeyword of twitterKeywords ;trackBy: trackId">
                <td><a [routerLink]="['../twitter-keyword', twitterKeyword.id ]">{{twitterKeyword.id}}</a></td>
                <td>
                    <span class="badge {{twitterKeyword.status}}" jhiTranslate="{{'socialappApp.KeywordStatus.' + twitterKeyword.status}}">
                        {{twitterKeyword.status}}
                    </span>
                </td>
                <td>{{twitterKeyword.keyword}}</td>
                <td>{{twitterKeyword.competitors}}</td>
                <td>{{twitterKeyword.page}}</td>
                <td>{{twitterKeyword.created | date:'short'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../twitter-keyword', twitterKeyword.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'twitter-keyword/'+ twitterKeyword.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'twitter-keyword/'+ twitterKeyword.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
