<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>
                <span jhiTranslate="socialappApp.twitterSettings.home.title">Twitter Settings</span>
            </h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" *ngIf="twitterSettings">

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="socialappApp.twitterSettings.maxLikes" for="field_maxLikes">Max Likes (number of likes until start doing unlikes)</label>
                    <input type="number" class="form-control" name="maxLikes" id="field_maxLikes"
                           [(ngModel)]="twitterSettings.maxLikes" required min="0" />
                    <div [hidden]="!(editForm.controls.maxLikes?.dirty && editForm.controls.maxLikes?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.maxLikes?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.maxLikes?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.maxLikes?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="socialappApp.twitterSettings.hasDefaultProfileImage" for="field_hasDefaultProfileImage">Skip If Has Default Profile Image</label>
                    <input type="checkbox" class="form-control" name="hasDefaultProfileImage" id="field_hasDefaultProfileImage"
                           [(ngModel)]="twitterSettings.hasDefaultProfileImage"  />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="socialappApp.twitterSettings.hasNoDescription" for="field_hasNoDescription">Skip If Has No Description</label>
                    <input type="checkbox" class="form-control" name="hasNoDescription" id="field_hasNoDescription"
                           [(ngModel)]="twitterSettings.hasNoDescription"  />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="socialappApp.twitterSettings.accountAgeLessThan" for="field_accountAgeLessThan">Skip If Account Age Less Than (months, 0 = disabled)</label>
                    <input type="number" class="form-control" name="accountAgeLessThan" id="field_accountAgeLessThan"
                           [(ngModel)]="twitterSettings.accountAgeLessThan" required min="0" />
                    <div [hidden]="!(editForm.controls.accountAgeLessThan?.dirty && editForm.controls.accountAgeLessThan?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.accountAgeLessThan?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.accountAgeLessThan?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.accountAgeLessThan?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="socialappApp.twitterSettings.minActivity" for="field_minActivity">Min Activity (minimum likes, tweets, followers, following)</label>
                    <input type="number" class="form-control" name="minActivity" id="field_minActivity"
                           [(ngModel)]="twitterSettings.minActivity" required min="1" />
                    <div [hidden]="!(editForm.controls.minActivity?.dirty && editForm.controls.minActivity?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.minActivity?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.minActivity?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.minActivity?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="socialappApp.twitterSettings.followingToFollowersRatio" for="field_followingToFollowersRatio">Following To Followers Ratio (eg. 3, skip if 3 times more following than followers)</label>
                    <input type="number" class="form-control" name="followingToFollowersRatio" id="field_followingToFollowersRatio"
                           [(ngModel)]="twitterSettings.followingToFollowersRatio"  />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="socialappApp.twitterSettings.likesToTweetsRatio" for="field_likesToTweetsRatio">Likes To Tweets Ratio (eg. 3, skip if 3 times more likes than tweets)</label>
                    <input type="number" class="form-control" name="likesToTweetsRatio" id="field_likesToTweetsRatio"
                           [(ngModel)]="twitterSettings.likesToTweetsRatio"  />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="socialappApp.twitterSettings.notLikeTweetsOlderThan" for="field_notLikeTweetsOlderThan">Skip If Like Tweet Older Than (months, 0 = disabled)</label>
                    <input type="number" class="form-control" name="notLikeTweetsOlderThan" id="field_notLikeTweetsOlderThan"
                [(ngModel)]="twitterSettings.notLikeTweetsOlderThan" required min="0" />
                    <div [hidden]="!(editForm.controls.notLikeTweetsOlderThan?.dirty && editForm.controls.notLikeTweetsOlderThan?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.notLikeTweetsOlderThan?.errors?.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.notLikeTweetsOlderThan?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.notLikeTweetsOlderThan?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="socialappApp.twitterSettings.retweetPercent" for="field_retweetPercent">Retweet Percent</label>
            <input type="number" class="form-control" name="retweetPercent" id="field_retweetPercent"
                [(ngModel)]="twitterSettings.retweetPercent" required min="0" />
            <div [hidden]="!(editForm.controls.retweetPercent?.dirty && editForm.controls.retweetPercent?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.retweetPercent?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.retweetPercent?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.retweetPercent?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="socialappApp.twitterSettings.minCompetitorFollowers" for="field_minCompetitorFollowers">Minimum Competitor Followers</label>
            <input type="number" class="form-control" name="minCompetitorFollowers" id="field_minCompetitorFollowers"
                [(ngModel)]="twitterSettings.minCompetitorFollowers" required min="0" />
            <div [hidden]="!(editForm.controls.minCompetitorFollowers?.dirty && editForm.controls.minCompetitorFollowers?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.minCompetitorFollowers?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.minCompetitorFollowers?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.minCompetitorFollowers?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="socialappApp.twitterSettings.accountsPerProxy" for="field_accountsPerProxy">Accounts Per Proxy</label>
            <input type="number" class="form-control" name="accountsPerProxy" id="field_accountsPerProxy"
                [(ngModel)]="twitterSettings.accountsPerProxy" required min="1" />
            <div [hidden]="!(editForm.controls.accountsPerProxy?.dirty && editForm.controls.accountsPerProxy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.accountsPerProxy?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.accountsPerProxy?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 1 }">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.accountsPerProxy?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

                <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </form>

        </div>
    </div>

</div>
