<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCompetitorLabel" jhiTranslate="socialappApp.competitor.home.createOrEditLabel">Create or edit a Competitor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!competitor.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="competitor.id" readonly />
        </div>
        <div class="form-group" hidden>
            <label class="form-control-label" jhiTranslate="socialappApp.competitor.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="competitor.status" id="field_status" readonly>
                <option value="IN_PROGRESS" jhiTranslate="socialappApp.CompetitorStatus.IN_PROGRESS">In Progress</option>
                <option value="DONE" jhiTranslate="socialappApp.CompetitorStatus.DONE">Done</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="socialappApp.competitor.userid" for="field_userid">Userid</label>
            <input type="text" class="form-control" name="userid" id="field_userid"
                [(ngModel)]="competitor.userid"
            required minlength="2" maxlength="20" pattern="(^\d+$)" />
            <div [hidden]="!(editForm.controls.userid?.dirty && editForm.controls.userid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userid?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userid?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userid?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userid?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Userid' }">
                    This field should follow pattern for "Userid".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="socialappApp.competitor.username" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                [(ngModel)]="competitor.username"
            required minlength="4" maxlength="15" pattern="(^[a-zA-Z0-9_]*$)" />
            <div [hidden]="!(editForm.controls.username?.dirty && editForm.controls.username?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.username?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.username?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                   This field is required to be at least 4 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.username?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 15 }">
                   This field cannot be longer than 15 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.username?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Username' }">
                    This field should follow pattern for "Username".
                </small>
            </div>
        </div>
        <div class="form-group" [hidden]="!competitor.likes">
            <label class="form-control-label" jhiTranslate="socialappApp.competitor.likes" for="field_likes">Likes</label>
            <input type="number" class="form-control" name="likes" id="field_likes"
                   [(ngModel)]="competitor.likes" readonly
            />
        </div>
        <div class="form-group" [hidden]="!competitor.cursor">
            <label class="form-control-label" jhiTranslate="socialappApp.competitor.cursor" for="field_cursor">Cursor</label>
            <input type="number" class="form-control" name="cursor" id="field_cursor"
                [(ngModel)]="competitor.cursor" readonly
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
