<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCompetitorLabel" jhiTranslate="socialappApp.competitor.home.createOrEditLabel">Create or edit a Competitor</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!competitor.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="competitor.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="socialappApp.competitor.userid" for="field_userid">Userid</label>
            <input type="text" class="form-control" name="userid" id="field_userid"
                [(ngModel)]="competitor.userid"
            required maxlength="24" pattern="^\d+$" />
            <div [hidden]="!(editForm.controls.userid?.dirty && editForm.controls.userid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userid?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.userid?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 24 }">
                   This field cannot be longer than 24 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.userid?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Userid' }">
                    This field should follow pattern for "Userid".
                </small>
            </div>
            <small>You can use <a href="http://gettwitterid.com/" target="_blank">gettwitterid.com</a> to get a competitor's twitter user ID.</small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="socialappApp.competitor.username" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                [(ngModel)]="competitor.username"
            required minlength="3" maxlength="24" pattern="^[a-zA-Z0-9_]*$" />
            <div [hidden]="!(editForm.controls.username?.dirty && editForm.controls.username?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.username?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.username?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 3 }">
                   This field is required to be at least 3 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.username?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 24 }">
                   This field cannot be longer than 24 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.username?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Username' }">
                    This field should follow pattern for "Username".
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
