<div>
    <h2>
        <span jhiTranslate="socialappApp.twitterError.home.title">Twitter Errors</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'socialappApp.twitterError.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="twitterErrors">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="account"><span jhiTranslate="socialappApp.twitterError.account">Account</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="errorMessage"><span jhiTranslate="socialappApp.twitterError.errorMessage">Error</span></th>
            <th jhiSortBy="message"><span jhiTranslate="socialappApp.twitterError.message">Message</span></th>
            <th jhiSortBy="rateLimitStatus"><span jhiTranslate="socialappApp.twitterError.rateLimitStatus">Rate</span></th>
            <th jhiSortBy="created_at"><span jhiTranslate="socialappApp.twitterError.created_at">Created</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let twitterError of twitterErrors ;trackBy: trackId">
                <td><a [routerLink]="['../twitter-error', twitterError.id ]">{{twitterError.id}}</a></td>
                <td>{{twitterError.account}}</td>
                <td>{{twitterError.errorMessage}}</td>
                <td>{{twitterError.message}}</td>
                <td>{{twitterError.rateLimitStatus}}</td>
                <td>{{twitterError.created_at | date:'short'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../twitter-error', twitterError.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
