
<div *ngIf="twitterError">
    <h2><span jhiTranslate="socialappApp.twitterError.detail.title">Twitter Error</span> {{twitterError.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="socialappApp.twitterError.type">Type</span></dt>
        <dd>
            <span class="badge {{twitterError.type}}" jhiTranslate="{{'socialappApp.TwitterErrorType.' + twitterError.type}}">
                        {{twitterError.type}}
            </span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterError.errorCode">Error Code</span></dt>
        <dd>
            <span>{{twitterError.errorCode}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterError.account">Account</span></dt>
        <dd>
            <span>{{twitterError.account}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterError.errorMessage">Error</span></dt>
        <dd>
            <span>{{twitterError.errorMessage}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterError.message">Message</span></dt>
        <dd>
            <span>{{twitterError.message}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterError.rateLimitStatus">Rate</span></dt>
        <dd>
            <span>{{twitterError.rateLimitStatus}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterError.statusCode">Status Code</span></dt>
        <dd>
            <span>{{twitterError.statusCode}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterError.created_at">Created</span></dt>
        <dd>
            <span>{{twitterError.created_at | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
