
<div *ngIf="twitterFollower">
    <h2><span jhiTranslate="socialappApp.twitterFollower.detail.title">Twitter Follower</span> {{twitterFollower.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="socialappApp.twitterFollower.userid">Userid</span></dt>
        <dd>
            <span>{{twitterFollower.userid}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterFollower.accountAge">Account Age</span></dt>
        <dd>
            <span>{{twitterFollower.accountAge}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterFollower.likes">Likes</span></dt>
        <dd>
            <span>{{twitterFollower.likes}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterFollower.followers">Followers</span></dt>
        <dd>
            <span>{{twitterFollower.followers}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterFollower.tweets">Tweets</span></dt>
        <dd>
            <span>{{twitterFollower.tweets}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterFollower.username">Username</span></dt>
        <dd>
            <span>{{twitterFollower.username}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterFollower.like">Like</span></dt>
        <dd>
            <span>{{twitterFollower.like == true ? 'Yes' : 'No'}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterFollower.follow">Follow</span></dt>
        <dd>
            <span>{{twitterFollower.follow == true ? 'Yes' : 'No'}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterFollower.updated2">Updated</span></dt>
        <dd>
            <span>{{twitterFollower.updated | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="socialappApp.twitterFollower.competitor">Competitor</span></dt>
        <dd>
            <div *ngIf="twitterFollower.competitor">
                <a [routerLink]="['/competitor', twitterFollower.competitor?.id]">{{twitterFollower.competitor?.username}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
