<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAvatarLabel" jhiTranslate="socialappApp.avatar.home.createOrEditLabel">Create or edit a Avatar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!avatar.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="avatar.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="socialappApp.avatar.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="avatar.name" required maxlength="20" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="socialappApp.avatar.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + avatar.imageContentType + ';base64,' + avatar.image" style="max-height: 100px;" *ngIf="avatar.image" alt="avatar image"/>
                <div *ngIf="avatar.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{avatar.imageContentType}}, {{byteSize(avatar.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="fileImage" (change)="setFileData($event, avatar, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                   [(ngModel)]="avatar.image" required maxbytes="200000"/>
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="avatar.imageContentType" />
            <div [hidden]="!(editForm.controls.image?.dirty && editForm.controls.image?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.image?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.image?.errors?.maxbytes" jhiTranslate="entity.validation.maxbytes"
                       translateValues="{ max: 200000 }">
                    This field cannot be more than 200000.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
