<div>
    <h2>
        <span jhiTranslate="socialappApp.twitterAccount.home.title">Twitter Accounts</span>
        <button class="btn btn-primary float-right create-twitter-account" [routerLink]="['/', { outlets: { popup: ['twitter-account-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="socialappApp.twitterAccount.home.createLabel">
            Create new Twitter Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'socialappApp.twitterAccount.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="twitterAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="socialappApp.twitterAccount.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="socialappApp.twitterAccount.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="url"><span jhiTranslate="socialappApp.twitterAccount.url">Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="username"><span jhiTranslate="socialappApp.twitterAccount.username">Username</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avatar.name"><span jhiTranslate="socialappApp.twitterAccount.avatar">Avatar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="header.name"><span jhiTranslate="socialappApp.twitterAccount.header">Header</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let twitterAccount of twitterAccounts ;trackBy: trackId">
                <td><a [routerLink]="['../twitter-account', twitterAccount.id ]">{{twitterAccount.id}}</a></td>
                <td>{{twitterAccount.email}}</td>
                <td>{{twitterAccount.name}}</td>
                <td>{{twitterAccount.url}}</td>
                <td>{{twitterAccount.username}}</td>
                <td>
                    <div *ngIf="twitterAccount.avatar">
                        <a [routerLink]="['../avatar', twitterAccount.avatar?.id ]" >{{twitterAccount.avatar?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="twitterAccount.header">
                        <a [routerLink]="['../header', twitterAccount.header?.id ]" >{{twitterAccount.header?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../twitter-account', twitterAccount.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'twitter-account/'+ twitterAccount.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'twitter-account/'+ twitterAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
